.content-block.build-header
  .header-content
    = render 'ci/status/badge', status: @build.detailed_status(current_user)
    流水线
    = link_to pipeline_path(@build.pipeline) do
      %strong ##{@build.pipeline.id}
    的构建
    %strong ##{@build.id}
    来自
    = link_to namespace_project_commits_path(@project.namespace, @project, @build.ref) do
      %code
        = @build.ref    
    的提交
    = link_to ci_status_path(@build.pipeline) do
      %strong= @build.pipeline.short_sha
    - if @build.user
      由
      = render "user"
    于
    = time_ago_with_tooltip(@build.created_at)
    提交
  - if can?(current_user, :update_build, @build) && @build.retryable?
    = link_to "重试", retry_namespace_project_build_path(@project.namespace, @project, @build), class: 'btn btn-inverted-secondary pull-right', method: :post
  %button.btn.btn-default.pull-right.visible-xs-block.visible-sm-block.build-gutter-toggle.js-sidebar-build-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')
