- @no_container = true
- page_title "#{@build.name} (##{@build.id})", "构建"
- trace_with_state = @build.trace_with_state
= render "projects/pipelines/head", build_subnav: true

%div{ class: container_class }
  .build-page
    = render "header"

    - if @build.stuck?
      - unless @build.any_runners_online?
        .bs-callout.bs-callout-warning
          %p
            - if no_runners_for_project?(@build.project)
              此构建被卡住，因为没有任何活动runnner指定给该项目。
            - elsif @build.tags.any?
              此构建被卡住，因为没有任何该项目指定标签的 runner 在线。指定的标签如下：
              - @build.tags.each do |tag|
                %span.label.label-primary
                  = tag
            - else
              此构建被卡住，因为没有任何活动的 runner 能运行此构建。

            %br
            转到
            = link_to namespace_project_runners_path(@build.project.namespace, @build.project) do
              Runners 页面

    - if @build.starts_environment?
      .prepend-top-default
        .environment-information
          - if @build.outdated_deployment?
            = ci_icon_for_status('success_with_warnings')
          - else
            = ci_icon_for_status(@build.status)

          - environment = environment_for_build(@build.project, @build)
          - if @build.success? && @build.last_deployment.present?
            - if @build.last_deployment.last?
              这个构建是最新部署到 #{environment_link_for_build(@build.project, @build)} 的。
            - else
              这个部署到 #{environment_link_for_build(@build.project, @build)} 的构建已经过期。
              查看最新的部署 #{deployment_link(environment.last_deployment)} 。
          - elsif @build.complete? && !@build.success?
            这个构建没有成功部署到 #{environment_link_for_build(@build.project, @build)} 。
          - else
            这个构建将会部署到 #{environment_link_for_build(@build.project, @build)}
            - if environment.try(:last_deployment)
              并且将替换掉其 #{deployment_link(environment.last_deployment, text: '最新的部署')}

    .prepend-top-default
      - if @build.erased?
        .erased.alert.alert-warning
          - erased_by = "被 #{link_to @build.erased_by.name, user_path(@build.erased_by)}" if @build.erased_by
          构建 #{erased_by.html_safe} 在 #{time_ago_with_tooltip(@build.erased_at)} 删除
      - else
        #js-build-scroll.scroll-controls
          .scroll-step
            %a{ href: '#up-build-trace', id: 'scroll-top', class: 'scroll-link scroll-top', title: 'Scroll to top' }
              = custom_icon('scroll_up')
              = custom_icon('scroll_up_hover_active')
            %a{ href: '#down-build-trace', id: 'scroll-bottom', class: 'scroll-link scroll-bottom', title: 'Scroll to bottom' }
              = custom_icon('scroll_down')
              = custom_icon('scroll_down_hover_active')
          - if @build.active?
            .autoscroll-container
              %span.status-message#autoscroll-status{ data: { state: 'disabled' } }
                %span.status-text 启用自动滚动
                %i.status-icon
                  = custom_icon('scroll_down_hover_active')
        #up-build-trace
        %pre.build-trace#build-trace
          %code.bash.js-build-output
          .build-loader-animation.js-build-refresh

        #down-build-trace

  = render "sidebar"

.js-build-options{ data: javascript_build_options }
