%div.omniauth-container
  %p
    %span.light
      通过 &nbsp;
    - providers = enabled_button_based_providers
    - providers.each do |provider|
      %span.light
        - has_icon = provider_has_icon?(provider)
        = link_to provider_image_tag(provider), omniauth_authorize_path(:user, provider), method: :post, class: (has_icon ? 'oauth-image-link' : 'btn'), "data-no-turbolink" => "true"
    登录
