.md-area
  .md-header
    %ul.nav-links.clearfix
      %li.active
        %a.js-md-write-button{ href: "#md-write-holder", tabindex: -1 }
          编写
      %li
        %a.js-md-preview-button{ href: "#md-preview-holder", tabindex: -1 }
          预览

      - if defined?(@issue) && @issue.confidential?
        %li.confidential-issue-warning
          = icon('warning')
          %span 这是一个保密问题。 您的评论不会公开显示。

      %li.pull-right
        .toolbar-group
          = markdown_toolbar_button({icon: "bold fw", data: { "md-tag" => "**" }, title: "添加粗体文本" })
          = markdown_toolbar_button({icon: "italic fw", data: { "md-tag" => "*" }, title: "添加斜体文本" })
          = markdown_toolbar_button({icon: "quote-right fw", data: { "md-tag" => "> ", "md-prepend" => true }, title: "插入引用" })
          = markdown_toolbar_button({icon: "code fw", data: { "md-tag" => "`", "md-block" => "```" }, title: "插入代码" })
          = markdown_toolbar_button({icon: "list-ul fw", data: { "md-tag" => "* ", "md-prepend" => true }, title: "添加符号列表" })
          = markdown_toolbar_button({icon: "list-ol fw", data: { "md-tag" => "1. ", "md-prepend" => true }, title: "添加编号列表" })
          = markdown_toolbar_button({icon: "check-square-o fw", data: { "md-tag" => "* [ ] ", "md-prepend" => true }, title: "添加任务列表" })
        .toolbar-group
          %button.toolbar-btn.js-zen-enter.has-tooltip.hidden-xs{ type: "button", tabindex: -1, aria: { label: "转到全屏" }, title: "转到全屏", data: { container: "body" } }
            =icon("arrows-alt fw")

  .md-write-holder
    = yield
  .md.md-preview-holder.js-md-preview.hide{class: (preview_class if defined?(preview_class))}

  - if defined?(referenced_users) && referenced_users
    %div.referenced-users.hide
      %span
        = icon("exclamation-triangle")
        你添加了
        %strong
          %span.js-referenced-users-count 0
          人
        到此讨论。请谨慎行事。
