- @no_container = true

= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_path(@project.namespace, @project, format: :atom, private_token: current_user.private_token), title: "#{@project.name} 活动")

= content_for :flash_message do
  - if current_user && can?(current_user, :download_code, @project)
    = render 'shared/no_ssh'
    = render 'shared/no_password'

= render 'projects/last_push'
= render "home_panel"

- if current_user && can?(current_user, :download_code, @project)
  %nav.project-stats{ class: container_class }
    %ul.nav
      %li
        = link_to project_files_path(@project) do
          文件 (#{repository_size})
      %li
        = link_to namespace_project_commits_path(@project.namespace, @project, current_ref) do
          提交 (#{number_with_delimiter(@project.commit_count)})
          
      %li
        = link_to namespace_project_branches_path(@project.namespace, @project) do
          分支 (#{number_with_delimiter(@repository.branch_count)})
      %li
        = link_to namespace_project_tags_path(@project.namespace, @project) do
          标签 (#{number_with_delimiter(@repository.tag_count)})

      - if default_project_view != 'readme' && @repository.readme
        %li
          = link_to '自述', readme_path(@project)

      - if @repository.changelog
        %li
          = link_to '变更日志', changelog_path(@project)

      - if @repository.license_blob
        %li
          = link_to license_short_name(@project), license_path(@project)

      - if @repository.contribution_guide
        %li
          = link_to '贡献指南', contribution_guide_path(@project)

      - if @repository.gitlab_ci_yml
        %li
          = link_to 'CI 配置', ci_configuration_path(@project)

      - if current_user && can_push_branch?(@project, @project.default_branch)
        - unless @repository.changelog
          %li.missing
            = link_to add_special_file_path(@project, file_name: 'CHANGELOG') do
              增加变更日志
        - unless @repository.license_blob
          %li.missing
            = link_to add_special_file_path(@project, file_name: 'LICENSE') do
              增加许可证
        - unless @repository.contribution_guide
          %li.missing
            = link_to add_special_file_path(@project, file_name: 'CONTRIBUTING.md', commit_message: '增加贡献指南') do
              增加贡献指南
        - unless @repository.gitlab_ci_yml
          %li.missing
            = link_to add_special_file_path(@project, file_name: '.gitlab-ci.yml') do
              设置 CI
        - if koding_enabled? && @repository.koding_yml.blank?
          %li.missing
            = link_to '设置 Koding', add_koding_stack_path(@project)
        - if @repository.gitlab_ci_yml.blank? && @project.deployment_service.present?
          %li.missing
            = link_to add_special_file_path(@project, file_name: '.gitlab-ci.yml', commit_message: 'Set up auto deploy', target_branch: 'auto-deploy', context: 'autodeploy') do
              设置自动部署

  - if @repository.commit
    .project-last-commit{ class: container_class }
      = render 'projects/last_commit', commit: @repository.commit, ref: current_ref, project: @project

%div{ class: container_class }
  - if @project.archived?
    .text-warning.center.prepend-top-20
      %p
        = icon("exclamation-triangle fw")
        已归档项目！版本库只读

  - view_path = default_project_view

  %div{ class: project_child_container_class(view_path) }
    = render view_path
