%div.tree-content-holder
  .table-holder
    %table.table#tree-slider{class: "table_#{@hex_path} tree-table" }
      %thead
        %tr
          %th 名称
          %th.hidden-xs
            .pull-left 最后更新
            .last-commit.hidden-sm.pull-left
              %small.light              
                = clipboard_button(clipboard_text: @commit.id)
                = link_to @commit.short_id, namespace_project_commit_path(@project.namespace, @project, @commit), class: "monospace"
                = time_ago_with_tooltip(@commit.committed_date)
                = @commit.full_title
            %small.commit-history-link-spacer &#124;
            = link_to '历史', namespace_project_commits_path(@project.namespace, @project, @id), class: 'commit-history-link'
          %th.text-right 最后提交
      - if @path.present?
        %tr.tree-item
          %td.tree-item-file-name
            = link_to "..", namespace_project_tree_path(@project.namespace, @project, up_dir_path), class: 'prepend-left-10'
          %td
          %td.hidden-xs

      = render_tree(tree)

  - if tree.readme
    = render "projects/tree/readme", readme: tree.readme

- if can_edit_tree?
  = render 'projects/blob/upload', title: '上传新文件', placeholder: '上传新文件', button_title: '上传文件', form_path: namespace_project_create_blob_path(@project.namespace, @project, @id), method: :post
  = render 'projects/blob/new_dir'

:javascript
  // Load last commit log for each file in tree
  $('#tree-slider').waitForImages(function() {
    gl.utils.ajaxGet("#{escape_javascript(@logs_path)}");
  });
