- css_class = 'no-description' if group.description.blank?

%li.group-row{ class: css_class }
  .controls
    = link_to '编辑', admin_group_edit_path(group), id: "edit_#{dom_id(group)}", class: 'btn'
    = link_to '删除', [:admin, group], data: { confirm: "确定要移除 #{group.name} 群组？" }, method: :delete, class: 'btn btn-remove'
  .stats
    %span
      = icon('bookmark')
      = number_with_delimiter(group.projects.count)

    %span
      = icon('users')
      = number_with_delimiter(group.users.count)

    %span.visibility-icon.has-tooltip{data: { container: 'body', placement: 'left' }, title: visibility_icon_description(group)}
      = visibility_level_icon(group.visibility_level, fw: false)

  .avatar-container.s40
    = image_tag group_icon(group), class: "avatar s40 hidden-xs"
  .title
    = link_to [:admin, group], class: 'group-name' do
      = group.full_name

  - if group.description.present?
    .description
      = markdown_field(group, :description)
